body {
    margin: 0;
}
header {
    background-color: #d5bdaf;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1 {
    margin: 0;
}
.nav-bar {
    background-color: #f5ebe0;
    overflow: hidden;
}
.nav-bar a {
    margin: 0 auto;
    width: 33.33333333%;
    float: left;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #9a8c98;
   
    text-decoration: none;
    color: #22223b;
}
.nav-bar a:hover.peach {
    background-color: #ffb4a2;
    color: white;
}
.nav-bar a:hover.pistachio {
    background-color: #588157;
    color: white;
}
.nav-bar a:hover.dragon {
    background-color: #ff99c8;
    color: white;
}
.nav-bar a:active {
    background-color: #4a4e69;
    color: white;
}
li {
    text-align: left;
}